.main-publish {
  background-color: #eaedee;
}

.main-publish input {
  border: none;
}

h2 {
  font-size: 24px;
  padding: 45px 0 25px 0;
}

.picture-publish-bloc {
  height: 250px;
  width: 1280px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.picture-publish {
  height: calc(100% - 50px);
  width: calc(100% - 50px);
  border: 1px #eaedee dotted;
  display: flex;
  justify-content: center;
  align-items: center;
}

.picture-publish input {
  display: none;
}

.picture-publish label {
  border: 2px solid #25a5c4;
  border-radius: 5px;
  padding: 15px;
  color: #25a5c4;
  display: flex;
  gap: 10px;
  cursor: pointer;
}

.publish-icon {
  font-size: 20px;
  font-weight: bold;
}

.publish-preview {
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.publish-preview-bloc {
  display: flex;
  position: absolute;
}

.remove-img {
  background-color: white;
  height: 25px;
  width: 25px;
  position: relative;
  right: 60px;
  cursor: pointer;
}

.publish-bloc {
  width: 1280px;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: start;
  margin-bottom: 20px;
  font-size: 16px;
}

.publish-bloc > div {
  width: 100%;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #cacbcc;
  height: 73px;
}

.input-bloc {
  display: flex;
  justify-content: space-between;
}

.input-bloc > div {
  width: calc(100% / 2);
  height: inherit;
}

.input-bloc input,
.description textarea {
  width: 100%;
  font-size: 16px;
}

.publish-bloc > div label {
  padding: 0 25px;

  font-size: 16px;
}

.input-bloc ::placeholder {
  border-bottom: 1px solid #cacbcc;
}

.publish-bloc .description {
  height: 150px;
  display: flex;
  align-items: start;
  padding-top: 25px;
}

.description textarea {
  height: 100px;
  border: none;
}

.publish-bloc .description ::placeholder {
  padding-bottom: 70px;
  color: #b6b4b4;
}

.price-bloc input {
  color: #b6b4b4;
}

.form-button {
  display: flex;
  justify-content: end;
}

.form-button button {
  width: 80px;
  height: 45px;
}
